body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
}

.header{
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.header button{
    color: white;
    flex: 1;
    border: none;
    background: none;
    cursor: pointer;
    font-size: large;
}

/* .sidebar{
    width: 200px;
    background-color: black;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: repeat(5,40px);
    justify-items: center;
    align-items: center;
} */


.main-container{
    position: relative;
    flex: 1;
    /* margin: 10px;
    padding: 10px; */
    z-index: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(14, 17, 17);
    text-align: center;
}

/* .centralize{
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
} */

/* .background-frontpage{
    background-color: rgb(14, 17, 17);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
} */

#take-input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .sidebar button{
    width: 200px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    text-align:left ;
} */

.quote{
    color: white;
    font-size: xx-large;
    margin: 10px;
    /* margin-bottom: 150px; */
    padding: 10px;
    transform: translateY(100%);
}

.handle form input{
    margin: 10px;
    padding: 10px;
    margin-left: 35px;
    border-radius: 10px;
    height: 50px;
    width: 200px;
}

.handle button{
    height: 30px;
    width: 50px;
    border-radius: 7px;
    /* background-color: blue; */
}

#placeholder{
    text-align: center;
}

.background{
    background-color: rgb(11, 0, 0);
}

.table_row th, .table_row td{
    margin: 5px;
    padding: 5px;
}

.profile_analysis{
    text-align: center;
    color: white;
}

.profile_analysis_table{
    color: white;
    border-collapse: collapse;
    margin-left: 25px;
    min-width: 200px;
}

.profile_analysis_table th, .profile_analysis_table td{
    border: 2px solid white;
    text-align: center;
}

.stats{
    color: white;
    margin-left: 10px;
    font-size: xx-large;
    text-align: left;
}

.profile_analysis_container{
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
    justify-content: center;
}

.recommended_problems{
    color: white;
    text-align: center;
}

.problems{
    color: white;
    text-align: left;
}

.no-underline{
    text-decoration: none;
    color: white;
}

.bordered-list{
    list-style-position: inside;
    border-top: 1px white;
    border-bottom: 1px white;
    color: white;
}

.flash_messages li{
    color: white;
    /* margin-right: 50px; */
}

.histogram{
    margin-left: 30px;
    width: 500px;
    height: 500px;
}

#tag_count_chart{
    width: 100%;
    height: 100%;
}