{% extends "layout.html" %}
{% block body %}

{% if problems %}
<div class="problems">
    <ol class="bordered-list">
        {% for name, url in problems %}
        <li class="problems-list">
            <div class="favourites">
            <a href="{{ url }}" target="_blank" class="no-underline">{{ name }}</a>
            <button onclick="addToFavourites('{{ name }}','{{url}}')">Add to favourites</button>
            </div>
        </li>
        {% endfor %}
    </ol>
</div>
{% else %}
<div style="color: white; font-size: x-large; transform: translateY(100%)">There are no problems in this section.</div>

{% endif %}

<script src="{{url_for('static', filename = 'add_favourites.js')}}"></script>
{% endblock %}