<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAAR - Codeforces Analyzer and Recommender</title>

    <link href="{{ url_for('static', filename = 'index.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>CAAR - Codeforces Analyzer and Recommender</h1>

    <div class="input">
        <form action="/enter" method="post">
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            <button type="submit">Enter</button>
        </form>

        <div class="navbar">
            <form action="/profile_analysis" method="get">
                <button type="submit">Analyze My Profile</button>
            </form>

            <form action="/show_suggested_problems" method="get">
                <button type="submit">Suggested Problems</button>
            </form>
        </div>

    </div>
</body>

</html> -->

{% extends "layout.html" %}
{% block container_class %} background-blur centralize{% endblock %}
{% block body %}

<div class="handle">
    <div class="quote">
        "The best error message is the one that never shows up."
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash_messages">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/enter" method="post">
        <input type="text" name="username" placeholder="Enter Codeforces handle">
        <button type="submit">Enter</button>
    </form>
</div>

<div class="background-image">
    <img src="" alt="">
</div>

{% endblock %}