{% extends "layout.html" %}
{% block handle_input %}take-input{% endblock %}
{% block quote %}

    <div class="quote">
        "Make your journey of Competitive Programming Easier."
    </div>

{% endblock %}

{% block body %}
    <div class="handle">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash_messages">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/enter" method="post">
        <input type="text" name="username" placeholder="Enter codeforces username" id="placeholder">
        <button type="submit">Enter</button>
    </form>
</div>

{% endblock %}

{% block alert %} 

    {% if show_alert == 'true' %}
    <script src="{{url_for('static', filename = 'alert.js')}}"></script>
    {% endif %}

{% endblock %}