{% extends "layout.html" %}
{% block container_class %} background-blur centralize{% endblock %}
{% block body %}

<div class="handle">
    <div class="quote">
        "The best error message is the one that never shows up."
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash_messages">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/enter" method="post">
        <input type="text" name="username" placeholder="Enter Codeforces handle">
        <button type="submit">Enter</button>
    </form>
</div>

{% endblock %}

{% block alert %} 

    {% if show_alert == 'true' %}
    <script src="{{url_for('static', filename = 'alert.js')}}"></script>
    {% endif %}

{% endblock %}