<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="{{ url_for('static', filename = 'layout.css') }}" rel="stylesheet" />
</head>

<body>

    <div class="content">
        <div class="header">
            <div></div>

            <form action="/" method="get">
                <button type="submit">Home</button>
            </form>

            <form action="/profile_analysis" method="get">
                <button type="submit">Profile</button>
            </form>

            <form action="/load_unsolved_problems" method="get">
                <button type="submit">Unsolved Problems</button>
            </form>

            <form action="/load_suggested_problems" method="get">
                <button type="submit">Suggested Problems</button>
            </form>

            <form action="/practice_problems" method="get">
                <button type="submit">Practice Problems</button>
            </form>

            <form action="/get_favourites" method="get">
                <button type="submit">Favourites</button>
            </form>
        </div>
        <div class="main-container {% block container_class %}{% endblock %}">
            {% block quote %} {% endblock %}

            <div id="{% block handle_input %}{% endblock %}">
                {% block body %} {% endblock %}
                {% block alert %} {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>